.container{
  width: 100%;
  background-color: darkgrey;
  color: black;
  padding: 15px;
}

.list{
  text-decoration: none;
  list-style: none;
  margin: 0;
  display: inline-block;
}

.list >li{
  display: inline-block;
  margin-right: 15px;
}

.list > li:hover{
  color: red;
  cursor: pointer;
}
